/* #### G    @font-face {
    font-family: 'Cloudy';
    font-style: normal;
    font-weight: normal;
    src: url('./AlphaClouds.ttf') format('truetype');
    font-display: swap;
    }ed By: http://font.download #### */

    @font-face {
    font-family: 'DT Getai Grotesk Display Black';
    font-style: normal;
    font-weight: normal;
    src: local('DT Getai Grotesk Display Black'), url('DTGetaiGroteskDisplay-Black.woff') format('woff');
    }

    @font-face {
    font-family: 'Cloudy';
    font-style: normal;
    font-weight: normal;
    src: local('Cloudy'), url('AlphaClouds.ttf') format('truetype');
    }