@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&display=swap");

@font-face {
  font-family: "Clash Display";
  src: url("/src/assets/font/ClashDisplay-Regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Clash Display";
  src: url("/src/assets/font/ClashDisplay-Light.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "Clash Display";
  src: url("/src/assets/font/ClashDisplay-Medium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "Clash Display";
  src: url("/src/assets/font/ClashDisplay-Semibold.otf") format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "Clash Display";
  src: url("/src/assets/font/ClashDisplay-Bold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "Clash Display";
  src: url("/src/assets/font/ClashDisplay-Extralight.otf") format("opentype");
  font-weight: 200;
}

:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-accent: #ffc83d;
}

*,
*::before,
*::after {
  font-family: "Clash Display", "Inter", sans-serif;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

.greeting-text {
  font-family: "Lobster", cursive;
}

.greeting-text {
  font-family: "Lobster", cursive;
}

.Shadowsbackground {
  background: linear-gradient(180deg, #f5f5f5 0%, #ff1212 100%);
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
}

.achievement-card {
  box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.achievement-card.pink {
  box-shadow: 0 0 40px -5px rgba(255, 92, 147, 0.4);
}

.achievement-card.teal {
  box-shadow: 0 0 40px -5px rgba(49, 151, 149, 0.4);
}

.achievement-card.blue {
  box-shadow: 0 0 40px -5px rgba(66, 153, 225, 0.4);
}

.achievement-card.orange {
  box-shadow: 0 0 40px -5px rgba(237, 137, 54, 0.4);
}

.achievement-card.purple {
  box-shadow: 0 0 40px -5px rgba(159, 122, 234, 0.4);
}

.achievement-card.red {
  box-shadow: 0 0 40px -5px rgba(245, 101, 101, 0.4);
}

.achievement-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 50px -2px rgba(0, 0, 0, 0.2);
}

.achievement-card.pink:hover {
  box-shadow: 0 0 50px -2px rgba(255, 92, 147, 0.5);
}

.achievement-card.teal:hover {
  box-shadow: 0 0 50px -2px rgba(49, 151, 149, 0.5);
}

.achievement-card.blue:hover {
  box-shadow: 0 0 50px -2px rgba(66, 153, 225, 0.5);
}

.achievement-card.orange:hover {
  box-shadow: 0 0 50px -2px rgba(237, 137, 54, 0.5);
}

.achievement-card.purple:hover {
  box-shadow: 0 0 50px -2px rgba(159, 122, 234, 0.5);
}

.achievement-card.red:hover {
  box-shadow: 0 0 50px -2px rgba(245, 101, 101, 0.5);
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.bounce-animation {
  animation: bounce 2s infinite;
}

@keyframes wave {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  50% {
    transform: translate(-50%, -50%) rotate(-20deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

.wave-animation {
  animation: wave 0.75s ease-in-out forwards;
}
